@media only screen and (max-width: 768px){
    marquee{
        font-size: 18px;
          margin-top: 10px;        
     }

     .header{
     
        margin: 2px 0;
       
      
    }
    

     .header .logo img{
        width: 40px;
    }

    .hero-wrapper{
        position: absolute;
        content: '';
        top: 80px;
       left:0;    
       
     }
     .hero-background h2{
        font-size: 25px;
       }

       .hero-background .hero-wrapper .col-md-4{
       padding: 0 20px;
    }

    .hero-background .hero-wrapper .col-md-4 .form-select{
       margin-top: 2px;
     }
     .hero-background  .col-md-4 p{
        margin-top: 7px;
       
       }

    .hero-background .hero-wrapper .col-md-2{
         text-align: center;
       
    }

    .text-animation{
        position: absolute;
        content: '';
        top: 100px;
       
    }

    .text-animation .custom-size{
        font-size: 25px;
        width: 100%;
    }
    .improve-wrapper{
        background-color: #ED0404;
       margin-top: 15px;
       border-radius: 8px;
    }

    .karjokom{
        height: 100vh;
    }

    .karjokom h2{
        font-size: 32px;
        padding: 0;
    }
    .karjokom li{
     
      padding:2px;
      font-size: 17px;
     
    }
    .media-kar{
     padding: 0 0 15px 0;
    }

    .fotter .col-md-3 li {
        list-style: none;
        margin-top: 20px;
      
      }
      .fotter .col-md-3 h5 {
        font-size: 23px;
        margin: 10px 0 0 0 ;
       
       
       }
       .fotter .col-md-3 li {
        list-style: none;
        margin-top: 20px;
      
      }
      .fotter .col-md-3 a {
        font-size: 20px;
        
    }
    .Developer-details{
      padding: 15px 0;
    }

    /* ---------------------registeation-------------- */
    .form-registration h3{
      
      font-size: 30px;
      
      height: 30vh;
      
      }



      /* login--------form----------------- ----------------- */

       
.content-wrapper {
 
padding:15px;
}

.login h2 {
   
    font-size: 30px;
    padding-top: 10px;
   
}


      /* login--------form------------------------ --------------------- */

      .invebtion{
         padding: 0 10px;
     }
     
      
    












}


 
      

 