 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Roboto';
   overflow-x: hidden;
 
  
    
}
html{
    scroll-behavior: smooth;
  
}
 

/* scroll -up/down -----------------------------------*/

 
 

 

.scroll-top{
    height: 60px;
    width: 60px;
    background-color: rgb(216, 40, 40);
    position: fixed;
    bottom:20px;
    right:5px;
    cursor: pointer;
    border-radius:50%;
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.336);
    transform: scale(0.8);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .scroll-top:hover{
    transform: scale(1);
  }
  
  
  .scroll-top svg{
    width: 50%;
    color: #fff;
  
  }
  /* scroll -up/down-end---------------------------------------------- */



/* responsive -header--------------------------- */
 
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin-top: 14px;
  
}

 marquee{
    font-size: 25px;
    color: #fff;
 }

.header .logo img{
    width: 60px;
}
 

 
.list-wrap {
	display: flex;
    
}
  .list-wrap li{
	margin-right: 30px;
	list-style: none;

}

 
 .list-wrap li a {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 25px;
color: #ED0404;
text-decoration: none;
transition: 0.5s;
}
 
 .list-wrap li a:hover {
color: #000;

}
 
 

 
.responsive-btn{
	 color: #7963F0;
	 font-size: 22px;
	 cursor: pointer;
	 display: none;
     border: none;
}
#click{
	display: none;
   
}
 
 



/* responsive bar*/
 

@media (max-width: 865px){

	 

	.list-wrap{
		position: fixed;
		top: 60px;
		left:-100%;
		background: #fff;
		height: 100vh;
		width: 100%;
		display: block;
		text-align: center;
		transition: all 0.6s ease;
        z-index: 1;
      

	}



.responsive-btn{
		display: block;
    margin-left:100px;
	} 


 #click:checked ~.list-wrap{
	 	left: 0%;
	 } 

	  #click:checked ~ .responsive-btn i:before{
	  	content: "\f00d";
	  } 


	.list-wrap li{
		margin: 40px 0;



	}
	.container li a{
		font-size: 22px;

		 

	}

	.list-wrap li a:hover{
	background:none;

} 

 
 
}


/* responsive -header------------------end---------------------------- */


/* hero -------------------------------------------------------*/
.hero-background{
 
    width: 100%;
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0.605)), url(/assect/imgbox/bg.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    min-width:0px;

}

.hero-wrapper{
   position: absolute;
   content: '';
   top: 130px;
  left:90px;    
  
}
.hero-background h2{
 color: #fff;
 font-size: 40px;
 font-weight: 700;
}
.hero-background  .col-md-4 p{
 color: #fff;
 margin-bottom: 10px;
 font-size: 15px;
 font-weight: 600;
 text-align: center;
}
 .hero-wrapper .col-md-4 .form-select{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #0D0A19;
    border: none !important;
}
 
.hero-scearch-button a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;

}
.hero-scearch-button button i{
   
    color: #fff;
    margin-right: 5px;
}
.hero-scearch-button button {
    background: #7963F0;
border-radius: 10px;
font-weight: 700;
color: #FFFFFF;
padding: 5px 20px;
margin-top:31px;
 
}
.hero-scearch-button button:hover{
background-color: #680707;
}

 
/* tEXT ANIMATION--------------------------------------- */
.text-animation{
    position: absolute;
    content: '';
    top: 80px;
    text-align: center;
}
.text-animation .custom-size{
    font-size: 40px;
    color: #ec6701;
    font-weight: 700;
}
 
@keyframes changewidth {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}
#dynamicContent {
    white-space: nowrap;
}
  
  /* ---------------------------------------- */

  
  
/* improve-------------------------আমাদের সাফল্য---------------------------- */
.blood-improve{
    margin: 60px 0 40px 0;
}
.improve-wrapper{
    background-color: #ED0404;
    padding: 20px 20px;
    text-align: center;
    
}
.improve-wrapper h5 {
   font-size: 25px;
}
.improve-wrapper p {
   font-size: 23px;
}
.improve-wrapper {
   color: #fff;
}

/* improve----------------------আমাদের সাফল্য-------------------------------end */

.পরিহার{
    margin: 60px 0 40px 0;
    min-width:0px;
 
}
.পরিহার p{
   text-align: justify;
}


/* ---------------------karjokon */
 
.karjokom{
    background-image:linear-gradient(rgba(0, 0, 0, 0.718),rgba(0, 0, 0, 0.726)), url(/assect/imgbox/logo-1.jpeg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
   background-attachment: fixed;
    height: 90vh;
    width: 100%;
    

}
.karjokom h2{
    font-size: 50px;
    color:#fff;
    font-weight: 700;
}
.karjokom li{
  color: #fff;
  padding: 5px 0;
  font-size: 19px;
}

/* ---------------------karjokon----------end */


/* accordion-------------------------------------------- */
 .accordion{
    margin: 40px 0;
    overflow: hidden;
   
 }
 .accordion-body{
   background:rgb(130, 203, 157);
   position: relative;
 
 
 }
 
 .accordion-body::after{
   content: '';
   position: absolute;
   top: -1.5rem;
   left: 1.8rem;
   border: 1rem solid transparent;
   border-bottom: 1rem solid rgb(130, 203, 157);
 
 } 


/* accordion-end ---------------------------------------*/


/* fotter--------------------------------------------- */
.fotter{
 
    margin-top: 80px;
    padding: 0 0 5px 0;
    overflow: hidden;
}
.line-fotter{
    border-top: 2px dotted red;
    padding-bottom: 3px;
    margin: 10px 0;
}
.fotter-pera{
    text-align: justify;
}
.fotter .col-md-3 a {
    text-decoration: none;
    color: #ED0404;
    
}
.fotter .col-md-3 li {
  list-style: none;
  margin-top: 30px;

}
.fotter .col-md-3 h5 {
 font-size: 26px;
 color: #000;
 font-weight: 600;

}

.develpoer-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* fotter---------------------------------------------end */











/* RGISTRATIOM FORM DESIGN-------------------------------------------------------- */
.form-registration{
    margin: 30px 0 30px 0;
}
.regi-btn{
    
    color: #000;
    background-color: aqua;
 
}

.form-registration h3{
text-align: center;
padding-top: 50px;
font-weight: 700;
font-size: 50px;
color: #fff;
background-image:linear-gradient(rgba(0, 0, 0, 0.412),rgba(0, 0, 0, 0.494)), url(/assect/imgbox/register-now-document-filling-form-concept.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 40vh;

}
.form-registration span{
    color: #ED0404;
}

.form-registration .col-md-10{
    margin-top: 20px;
    border: 1px solid #19bf0e;
    border-radius:20px;
    padding: 20px;
}
.registration label{
 font-size: 20px;
 font-weight: 500;
 color: #ED0404;

}

.registration_m {
    text-align: center;
    padding-top: 20px;
}
.registration a:hover {
    background: red;
    color: #000;
    border: 3px solid red;
    background: #fff;
}
 
.well {
    -webkit-box-shadow: 1px 1px 10px 1px #828282;
    box-shadow: 1px 1px 10px 1px #828282;
}

 
.registration .un {
    border: 1px solid #ddd;
    text-align: center;
}
 
.reregistrationg .sidebar_menu ul li {
    list-style: none;
    border-bottom: 2px solid #ddd;
}

.registration .sidebar_menu ul li:last-child {
    border-bottom: none;
}
 
.parmanent_adress p{
    color: #19bf0e;
}
.present_adress p{
    color: #19bf0e;
}

 
 
 
/* EGISTRATIOM FORM DESIGN-------------------------------------------------------- */




 /* LOGIN ----------FORM-------------------- */

 
.content-wrapper {
  background-image: url(/assect/imgbox/login-bg.jpg);
  background-size:cover;
  background-repeat: no-repeat;
    border-radius: 12px;
    padding: 40px;
    
    
}

.login h2 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

form {
    margin: 32px 0;
}

form .form-row {
    display: flex;
    margin: 15px 0;
    position: relative;
}

form .form-row span {
    background-color: #fff;
    color: #adafca;
    display: inline-block;
    font-weight: 400;
    left: 16px;
    padding: 0 5px;
    position: absolute;
    pointer-events: none;
    transform: translateY(-50%);
    top: 50%;
    transition: all 300ms ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

form .form-row input, form .form-row button {
    border-radius: 6px;
    font-family: inherit;
    padding: 15px 8px;
    width: 100%;
}

form .form-row input {
    font-weight: bold;
    transition: 100ms ease all;
    width: 100%;
    border: 2px solid #ddd;
}

form .form-row input:valid + span {
    top: 0;
    font-size: 15px;
}

form .form-row input:invalid + span {
    top: 50%;
}

form .form-row input:focus + span {
    top: 0;
}

form .form-row input:required {
    box-shadow: none;
}

form .form-row input:focus {
    border-color: #0096ff;
    outline: none;
}

form .form-row input:focus:invalid {
    box-shadow: none;
    top: 50%;
}

form .form-row input:focus:valid {
    top: 0;
}

form .form-row button {
    background-color: #0096ff;
    border: 2px solid #0096ff;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: all ease 300ms;
    font-size: 18px;
}

form .form-row button:focus {
    border: 2px solid #46a5e8;
    outline: none;
}

form .form-row button:hover {
    background-color: #46a5e8;
}

.social-wrapper header h2 {
   
    color: #fff;
    font-size: 16px;
    position: relative;
    text-align: center;
    z-index: 10;
}

.social-wrapper header h2:after, .social-wrapper header h2:before {
 
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18%;
}

.social-wrapper header h2:after {
    right: 0;
}

.social-wrapper header h2::before {
    left: 0;
}

.social-wrapper ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.social-wrapper ul li {
    margin: 8px;
}

.social-wrapper ul li a {
    font-size: 20px;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    display: flex;
    height: 40px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease;
    width: 40px;
}

.social-wrapper ul li a.facebook {
    background-color: #3763d2;
}

.social-wrapper ul li a.twitter {
    background-color: #1abcff;
}

.social-wrapper ul li a.google {
    background-color: #fd434f;
}

.social-wrapper ul li a:hover {
    transform: translateY(-4px);
}
 /* LOGIN ----------FORM--------------------END */


/* ABOUT---------------------PAGE------------------------------------ */

 

 .about{
    padding-top: 80px;
    padding-bottom: 80px;
     }
     .about .col-md-6 li{
        margin-top: 10px;
        text-align: justify;
     }
    
   
    /* circle */
     
    .clip-path{
        clip-path: circle();
       
    }

    .invebtion{
       text-align: justify;
    }
    
  
    
    
    
    
    
    
/* ABOUT---------------------PAGE------------------------------------WND */





